/* Colors */
:root {
    --dark-green: #2c3e30;
    --medium-green: #3c523b;
    --light-green: #4b6947;
    --golden-yellow: #d4a35b;
    --text-white: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--dark-green);
    color: var(--text-white);
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: var(--medium-green);
}

.navbar-brand {
    color: var(--golden-yellow) !important;
}

.nav-link {
    color: var(--golden-yellow) !important;
}

.hero {
    margin-top: 30px; 
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    text-align: center; 
}

.hero-title {
    font-size: 36px; 
    color: var(--text-white);
    font-weight: bold;
    margin-bottom: 10px; 
    width: 100%; 
}

.hero img {
    width: 70%;
    height: 350px;
    border: 5px solid var(--golden-yellow);
    object-fit: cover;
}

.photo-gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    width: 59.7%; 
    margin: 0 auto;
    background-color: var(--medium-green); 
    padding: 10px; 
}

.photo-item {
    width: 23%; 
    margin: 5px; 
    text-align: center; 
}

.photo-item img {
    width: 100%; 
    height: auto; 
    border: 2px solid var(--medium-green);
}

/* Optional: Add a media query for smaller screens */
@media (max-width: 768px) {
    .photo-item {
        width: 48%;  /* Adjusts layout to 2 items per row on smaller screens */
    }
}

@media (max-width: 480px) {
    .photo-item {
        width: 100%;  /* Stacks all items in a single column on extra small screens */
    }
}

.photo-caption {
    color: var(--text-white); 
    font-size: 14px; 
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 10px; 
    width: 100%; 
    box-sizing: border-box; 
    text-align: center;
}

.gallery img {
    width: 100%;
    height: auto;
    border: 2px solid var(--golden-yellow);
}

.gallery .col-md-3 {
    margin-bottom: 20px;
}

.welcome-section {
    background-color: var(--light-green);
    padding: 40px;
    text-align: center;
}

.welcome-section h2 {
    color: var(--golden-yellow);
}

.footer {
    background-color: var(--medium-green);
    padding: 20px 0;
    text-align: center;
    color: var(--text-white);
}

.footer a {
    color: var(--golden-yellow);
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
